@using DataLayer.Models;
@model DataLayer.ViewModels.VmVideoView

@{
    ViewBag.Title = ViewBag.Name;
    ViewBag.Content = "نام ویدیو آموزشی، آپلود کننده آن و تاریخ آپلود";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/Styles/Pages/VideoView.min.css" rel="stylesheet" />

<div class="white-area">
</div>
<img src="~/Resources/Static/Vector/biscuit/biscuit_main.svg" width="1" height="1" class="biscuit" alt="biscuit" />

<div id="Modal-Rate" uk-modal>
    <div class="uk-modal-dialog uk-modal-body column">
        <h3 class="uk-margin-auto">به این ویدیو چند امتیاز می دهید؟</h3>
        <button class="uk-modal-close-default" name="close" type="button" uk-close></button>
        <div class="row star-container uk-margin-auto" id="myRaiting">
            <span class="star-cb-group">
                <input type="radio" id="rating-5" name="Raiting" value="5" /><label for="rating-5">5</label>
                <input type="radio" id="rating-4" name="Raiting" value="4" checked="checked" /><label for="rating-4">4</label>
                <input type="radio" id="rating-3" name="Raiting" value="3" /><label for="rating-3">3</label>
                <input type="radio" id="rating-2" name="Raiting" value="2" /><label for="rating-2">2</label>
                <input type="radio" id="rating-1" name="Raiting" value="1" /><label for="rating-1">1</label>
                <input type="radio" id="rating-0" name="Raiting" value="0" class="star-cb-clear" /><label for="rating-0">0</label>
            </span>
            <button class="btn-primary uk-margin-auto uk-margin-top" onclick="submitRating()">ثبت</button>
        </div>
    </div>
</div>

<div id="Modal-Report" uk-modal>
    <div class="uk-modal-dialog uk-modal-body column" id="myReport">
        <h3 class="uk-margin-auto">این ویدیو چه مشکلی دارد؟</h3>
        <button class="uk-modal-close-default" name="close" type="button" uk-close></button>
        <ul>
            <li class="uk-form-controls">
                <label>محتوای نا مربوط</label>
                <input type="radio" class=" uk-radio" checked name="reportRadio" value="محتوای نا مربوط" id="" />
            </li>
            <li class="uk-form-controls uk-margin-small-top">
                <label>محتوای نا مناسب</label>
                <input type="radio" class="uk-radio" name="reportRadio" value="محتوای نا مناسب" id="" />
            </li>
            <li class="uk-form-controls uk-margin-small-top">
                <label>کیفیت پایین ویدیو</label>
                <input type="radio" class="uk-radio" name="reportRadio" value="کیفیت پایین ویدیو" id="" />
            </li>
        </ul>
        <hr />
        <label for="Other" class="uk-margin-small-bottom" dir="rtl">مشکل دیگر...</label>
        <div class="input-group">
            <input type="text" id="textReporter" name="Text" placeholder="لحاظ کنید" />
        </div>
        <button class="btn-primary  uk-margin-auto uk-margin-top" onclick="submitReport()">
            ثبت
        </button>
    </div>
</div>

<div class="column uk-container">
    <div class="column container uk-margin-auto">
        @if (Model.IsLog)
        {
            <video class="video-playback uk-margin-auto-left uk-margin-auto-right white-area-margin" controls controlsList="nodownload">
                <source src="~/Resources/Video/VideoUrl/@Model.VideoUrl" type="video/mp4">
            </video>
        }
        else
        {
            if (Model.VidioDemoUrl != null)
            {
                <video class="video-playback uk-margin-auto-left uk-margin-auto-right white-area-margin" controls controlsList="nodownload">
                    <source src="~/Resources/Video/VideoDemo/@Model.VidioDemoUrl" type="video/mp4">
                </video>
            }
            else
            {
                <img class="video-playback uk-margin-auto-left uk-margin-auto-right white-area-margin thumbnail" src="~/Resources/Video/Image/Thumb/@Model.MainImage" alt="Thumbnail" />
            }

        }

        <div id="Info" class="mat uk-box-shadow-large uk-margin-medium-top uk-margin-medium-bottom">
            <div class="uk-padding">
                @if (Model.PlaylistId != null)
                {
                    <h3>
                        کلاس: @Model.PlaylistTitle
                    </h3>
                }
                <h3>
                    @Model.Title
                </h3>
                <a href="/Dashboard/@Model.UserId/@Model.UserNameVideo" class="tutor">
                    @Model.UserNameVideo
                </a>
                <p class="uk-margin-remove-bottom">
                    @{
                        string desc = "";
                        foreach (string word in Model.Description.Split(' ').ToList().Take(30))
                        {
                            desc += word + ' ';
                        }
                        string desc2 = "";
                        foreach (string word in Model.Description.Split(' ').ToList().Skip(30))
                        {
                            desc2 += word + ' ';
                        }
                    }
                    @desc
                    @if (!string.IsNullOrEmpty(desc2))
                    {
                        <details dir="rtl">
                            <summary>
                                بیشتر...
                            </summary>
                            @desc2
                        </details>
                    }
                </p>
            </div>
            <hr class="uk-margin-remove" />
            <div class="control-panel uk-padding">
                <div class="control-panel-bottom row-reverse">
                    @if (!Model.IsLog)
                    {
                        if (Model.PlaylistId != null)
                        {
                            <a href="/ShopCart/Index/@Model.VideoId" class="btn btn-primary">
                                خرید ویدیوهای این کلاس
                            </a>
                            <div class="price row uk-margin-auto-top uk-margin-auto-bottom uk-margin-small-right">
                                <span>
                                    تومان
                                </span>
                                @Model.PlaylistPrice.ToString("#,0")
                            </div>
                        }
                        else
                        {
                            <a href="/ShopCart/Index/@Model.VideoId" class="btn btn-primary">
                                خرید این ویدیو
                            </a>
                            <div class="price row uk-margin-auto-top uk-margin-auto-bottom uk-margin-small-right">
                                <span>
                                    تومان
                                </span>
                                @Model.Price.ToString("#,0")
                            </div>
                        }


                    }
                </div>
                <div class="control-panel-top  row-reverse uk-margin-auto-right">
                    <ul class="action-panel row uk-padding-remove uk-margin-auto-bottom uk-margin-auto-top uk-margin-auto-right">

                        <li><a href="#Modal-Report" uk-toggle class="icon-button" uk-tooltip="گزارش تخلف" uk-icon="report"></a></li>

                        @if (User.Identity.IsAuthenticated && !User.IsInRole("admin"))
                        {
                            <li id="ListIsBookMark">
                                @Html.Action("CheckUserSaveVideo", "Video")
                                @*<li><a class="icon-button" onclick="UIkit.notification('ویدیو در کتاب خانه شما ذخیره شد')" uk-tooltip="ذخیره ویدیو" uk-icon="bookmark"></a></li>*@
                            </li>
                        }
                        else
                        {
                            <li><a class="icon-button" href="/Video/CheckbookmarkVideoInUser" uk-tooltip="ذخیره ویدیو" uk-icon="bookmark"></a></li>
                        }
                        <li><a class="icon-button" onclick="fallbackCopyTextToClipboard(window.location.href); UIkit.notification('لینک کپی شد')" uk-tooltip="اشتراک گذاری" uk-icon="share"></a></li>
                    </ul>
                    <div class="row star-container uk-margin-small-right" dir="rtl" id="listLikeCount">
                        @Html.Action("LikeCount", new { LikeCount = Model.LikeCount })
                    </div>
                </div>
            </div>
        </div>

        @if (ViewBag.Playlist != null)
        {
            List<TblPlaylist> list = ViewBag.Playlist as List<TblPlaylist>;

            foreach (var item in list)
            {
                @Html.Partial("_Playlist", item);
            }
        }

    </div>
</div>

<script src="~/Scripts/UIScripts/CopyToClipboard.js"></script>


<script>


    function checkbookmarkVideoInUser(id) {
        $.get('/Video/CheckbookmarkVideoInUser/' + id, function (result) {
            $('#ListIsBookMark').html(result);
        });
    }
    function submitRating() {
        var id=@Model.VideoId;
        var name=$('input[name=Raiting]:checked', '#myRaiting').val();
        $.ajax({
            url: "/Video/Raiting/",
            data: { id:id, Raiting: name },
            type: "Post",
        }).done(function (result) {
            $('#listLikeCount').html(result);
            UIkit.modal(document.getElementById('Modal-Rate')).hide();
            $("#overlay").fadeOut(300);
        });
    }
     function submitReport() {
         var id =@Model.VideoId;
         var Text = $('#textReporter').val();
         var reportRadio = $('input[name=reportRadio]:checked').val();
        $.ajax({
            url: "/Video/Report/",
            data: { id: id, Text: Text, reportRadio: reportRadio},
            type: "Post",
        }).done(function (result) {
            UIkit.modal(document.getElementById('Modal-Report')).hide();
            $("#overlay").fadeOut(300);
        });
    }
</script>