
@{
    ViewBag.Title = "گفت و گو";
    ViewBag.Content = "بحث و گفت و گو با مربیان خود";
    Layout = "~/Areas/User/Views/Shared/_Layout.cshtml";
}

<div class="chat mat uk-padding uk-box-shadow-small column uk-margin-xlarge-bottom">
    <h3 class="uk-margin-remove-top">
        گفت و گو
    </h3>

    <div class="form-group">
        <label for="Contacts">مخاطبان</label>
        <div class="row-reverse">
            <select name="Contacts" class="uk-width-1-1" dir="rtl">
                <option>صدرا محمدی</option>
                <option>حسن حسن اصل </option>
                <option>ینال احمدزاده</option>
            </select>
        </div>
    </div>

    <div class="chat-room uk-margin-top uk-box-shadow-hover-large">
        <ul class="uk-padding-remove">
            <li>
                @Html.Partial("Message")
            </li>
            <li>
                @Html.Partial("Message")
            </li>
            <li>
                @Html.Partial("Message")
            </li>
            <li>
                @Html.Partial("Message")
            </li>
            <li>
                @Html.Partial("Message")
            </li>
            <li>
                @Html.Partial("Message")
            </li>
            <li>
                @Html.Partial("Message")
            </li>
        </ul>
    </div>

    <div class="row-reverse uk-margin-top">
        <div class="row uk-width-1-1">
            <textarea type="text" name="Message" class="uk-width-1-1" placeholder="..."></textarea>
            <button class="btn-pill-primary uk-margin-left uk-margin-auto-bottom">
                @*<span uk-icon="icon:send;ratio:1.2"></span>*@
                فرستادن
            </button>
        </div>
    </div>

</div>