
@{
    ViewBag.Title = "Videos";
    Layout = "~/Views/Profile/_ProfileLayout.cshtml";
}

<div class="video-grid center flex-1">
    @Html.Partial("_VideoBlock")
    @Html.Partial("_VideoBlock")
    @Html.Partial("_VideoBlock")
    @Html.Partial("_VideoBlock")
    @Html.Partial("_VideoBlock")
    @Html.Partial("_VideoBlock")
    @Html.Partial("_VideoBlock")
    @Html.Partial("_VideoBlock")
    @Html.Partial("_VideoBlock")
    @Html.Partial("_VideoBlock")
    @Html.Partial("_VideoBlock")
</div>
