@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/Styles/Areas/UserDashboard.min.css" rel="stylesheet" />


<div role="none" class="space-nav"></div>
<div class="uk-container">
    <content class="row-reverse uk-margin-medium-top">
        <div role="none" class="remove-at-mobile uk-margin-left">
            <div role="none" class="side-category-placeholder"></div>
            <aside role="menu" class="side-category column" uk-sticky="offset: 100">
                @*<h4>
                        دسته بندی ها
                    </h4>*@
                @Html.Partial("Navigation")
            </aside>
        </div>
        <div class="flex-1">

            <button type="button" uk-toggle="target: #Modal-Navigation"
                    class="button-navigation mat uk-padding-small uk-margin-auto-left uk-margin-small-bottom uk-box-shadow-medium">
                <span uk-icon="icon:menu;ratio:1"></span>
            </button>

            @RenderBody()

        </div>
    </content>
</div>

<!-- Modal Navigation -->
<div id="Modal-Navigation" uk-modal>
    <div class="uk-modal-dialog uk-modal-body menu">
        @Html.Partial("Navigation")
    </div>
</div>
<!-- Modal Navigation -->
<div id="ModalUser" uk-modal>
    <div class="uk-modal-dialog uk-modal-body" id="ModalUserBody">

    </div>
</div>


<div id="createCla" uk-modal>
    <div class="uk-modal-dialog uk-modal-body" id="ModalUserBody">
        @Html.Action("Create", "Classes")
    </div>
</div>

<script>
    function showClasses() {
        $.get('/User/Classes/Classes', function (result) {
            UIkit.modal(document.getElementById('ModalUser')).show();
            $('#ModalUserBody').html(result);
        });
    }
    function createClasses() {
        UIkit.modal(document.getElementById('createCla')).show();

    }
    function editClasses(id) {
        $.get('/User/Classes/Edit/' + id, function (result) {
            UIkit.modal(document.getElementById('ModalUser')).show();
            $('#ModalUserBody').html(result);
        });
    }
    function CreateVideo() {
        $.get('/User/Video/Create', function (result) {
            UIkit.modal(document.getElementById('ModalUser')).show();
            $('#ModalUserBody').html(result);
        });
    }



</script>


@RenderSection("Scripts", false)


