@model DataLayer.MetaData.MdVideo

@{
    ViewBag.Title = "ویرایش ویدیو";
    ViewBag.Content = "ویرایش ویدیو";
    Layout = "~/Areas/User/Views/Shared/_Layout.cshtml";
}

<div class="edit mat uk-padding uk-box-shadow-small uk-margin-xlarge-bottom">
    @using (Html.BeginForm("Edit", "Video", new AjaxOptions() { OnSuccess = "LoadingEnd('#editVideo')" }, FormMethod.Post, new { enctype = "multipart/form-data", @id = "editVideo" }))
    {
        @Html.HiddenFor(m => m.id)
        @Html.HiddenFor(m => m.MainImage)
        @Html.HiddenFor(m => m.VideoDemoUrl)
        @Html.HiddenFor(m => m.VideoUrl)
        @Html.HiddenFor(m => m.CatagoryId)
        @Html.HiddenFor(m => m.PlaylistId)
        <h3 class="uk-margin-remove-top">
            آپلود ویدیو جدید
        </h3>
        <div class="form-group">
            <label for="Title">تیتر ویدیو</label>
            <div class="input-group">
                @Html.EditorFor(m => m.Title)
            </div>
            <span role="alert" class="alert">
                @Html.ValidationMessageFor(model => model.Title, "", new { @class = "uk-text-danger" })
            </span>
        </div>

        <div class="form-group">
            <label for="MainImage">عکس</label>
            <div class="row-reverse text-center">
                @if (Model.MainImage != null)
                {
                    <img src="~/Resources/Video/Image/@Model.MainImage" class="uk-margin-small-bottom" alt="" />
                }
            </div>
            <div class="js-upload mat uk-placeholder uk-margin-remove-top uk-margin-remove-bottom uk-text-center" dir="rtl">
                <span uk-icon="icon: cloud-upload"></span>
                <span class="uk-text-middle">عکس خود را اینجا بیاندازید و یا</span>
                <div uk-form-custom>
                    <input type="file" name="MainImage">
                    <span class="blue">کلیک کنید</span>
                </div>
            </div>
            <span role="alert" class="alert">
                @Html.ValidationMessageFor(model => model.MainImage, "", new { @class = "uk-text-danger" })
            </span>
        </div>
        <div class="form-group">
            <label for="VideoDemo">دموی ویدیو</label>
            <div class="row-reverse text-center">
                @if (Model.VideoDemoUrl != null)
                {
                    <video class="uk-margin-small-bottom" controls controlsList="nodownload">
                        <source src="~/Resources/Video/VideoDemo/@Model.VideoDemoUrl" type="video/mp4">
                    </video>
                }
            </div>
            <div class="js-upload mat uk-placeholder uk-margin-remove-top uk-margin-remove-bottom uk-text-center" dir="rtl">
                <span uk-icon="icon: cloud-upload"></span>
                <span class="uk-text-middle"> دموی ویدیو خود را اینجا بیاندازید و یا</span>
                <div uk-form-custom>
                    <input type="file" name="VideoDemoUrl">
                    <span class="blue">کلیک کنید</span>
                </div>
            </div>
            <span role="alert" class="alert">
                @Html.ValidationMessageFor(model => model.VideoDemoUrl, "", new { @class = "uk-text-danger" })
            </span>
        </div>

        <div class="form-group">
            <label for="Video">ویدیو</label>
            <div class="row-reverse text-center">
                @if (Model.VideoUrl != null)
                {
                    <video class="uk-margin-small-bottom" controls controlsList="nodownload">
                        <source src="~/Resources/Video/VideoUrl/@Model.VideoUrl" type="video/mp4">
                    </video>
                }
            </div>
            <div class="js-upload mat uk-placeholder uk-margin-remove-top uk-margin-remove-bottom uk-text-center" dir="rtl">
                <span uk-icon="icon: cloud-upload"></span>
                <span class="uk-text-middle">ویدیو خود را اینجا بیاندازید و یا</span>
                <div uk-form-custom>
                    <input type="file" name="VideoUrl">
                    <span class="blue">کلیک کنید</span>
                </div>
            </div>
            <span role="alert" class="alert">
                @Html.ValidationMessageFor(model => model.VideoUrl, "", new { @class = "uk-text-danger" })
            </span>
        </div>


        <div class="form-group">
            <label for="Description">توضیحات</label>
            @Html.EditorFor(m => m.Description)
            <span role="alert" class="alert">
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "uk-text-danger" })
            </span>
        </div>

        <div class="form-group">
            <label for="Price">قیمت به تومان</label>
            <div class="input-group">
                @Html.EditorFor(m => m.Price)
            </div>
            <span role="alert" class="alert">
                @Html.ValidationMessageFor(model => model.Price, "", new { @class = "uk-text-danger" })
            </span>
        </div>

        @*<div class="uk-margin-top uk-margin-bottom">
                <label dir="rtl">
                    @Html.EditorFor(m => m.IsCharity, "", new { @class = "uk-checkbox" })
                    میخواهم درصدی از درامد این ویدیو به خیریه
                    <a href="#" class="blue">نام خیریه</a>
                    اهدا شود
                </label>
            </div>*@

        <div class="form-group">
            <label for="Playlist">دسته</label>
            <div class="row-reverse">
                @Html.DropDownList("Catagory", null, htmlAttributes: new { @class = "uk-width-2-3 uk-margin-small-left showPlaylist", dir = "rtl" })
            </div>
            @Html.ValidationMessageFor(model => model.CatagoryId, "", new { @class = "uk-text-danger" })
        </div>
        <div class="form-group" id="catListVideoEdit">
        </div>
        <div class="form-group" id="playlistEdit">
            @*@Html.Action("ShowPlaylist", "Video", new { id=Model.CatagoryId })*@
        </div>
        <div class="form-group">
            <label for="Keywords">کلمات کلیدی</label>
            <div class="input-group">
                @Html.EditorFor(m => m.Keywords, new { htmlAttributes = new { placeholder = "کلمات کلیدی را با ، جدا کنید" } })
            </div>
            <span role="alert" class="alert">
                @Html.ValidationMessageFor(model => model.Keywords, "", new { @class = "uk-text-danger", placholder = "لطفا با ، کلمات را از هم جدا کنید" })
            </span>
        </div>
        <div class="row-reverse uk-margin-medium-top">
            <button class="btn-primary" onclick="LoadingRun('#editVideo')">
                ویرایش
            </button>
        </div>
    }

</div>
<script>


    $(document).ready(function () {
        $.get('/User/Video/ShowPlaylist/' + @Model.CatagoryId, function (result) {
            $('#playlistEdit').html(result);
        });

        @* alert($('#PlaylistId').val());*@
        //////
        var id = $(".showPlaylist option:selected").val();
        if (id != "") {
            $.get('/User/Classes/ShowCategory/' + id, function (result) {
                $('#catListVideoEdit').html(result);
            });
        }
        else {
            $('#catListEdit').html("");
            $("#CatagoryId").val("");
        }
        @*$.get('/User/Video/ShowPlaylist/' + @Model.CatagoryId, function (result) {
            $('#playlistEdit').html(result);
            $('#PlaylistId').val(@Model.PlaylistId);
        });*@
        $(".showPlaylist").change(function () {
            var id = $(".showPlaylist option:selected").val();
            if (id != "") {
                $("#overlay").fadeIn(300);
                $.get('/User/Video/ShowPlaylist/' + id, function (result) {
                    $('#playlistEdit').html(result);
                    $("#overlay").fadeOut(300);
                });
                $.get('/User/Classes/ShowCategory/' + id, function (result) {
                    $('#catListVideoEdit').html(result);
                });
                $("#overlay").fadeOut(300);
            }
            else {
                $('#playlistEdit').html("");
            }
        });
    });
</script>