<!DOCTYPE html>
<html lang="fa">
<head>

    <title>@ViewBag.Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="@ViewBag.Content">

    <!--Project Styles-->
    <link href="~/Content/Styles/Controls.min.css" rel="stylesheet" />
    <link href="~/Content/Styles/Global.min.css" rel="stylesheet" />

    <!--UIKit-->
    <link href="~/Content/UIkit/uikit.min.css" rel="stylesheet" />
    <script src="~/Content/UIkit/uikit.min.js"></script>
    <script src="~/Content/UIkit/uikit-icons.min.js"></script>


    <script src="~/Scripts/jquery-3.5.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
</head>
<body>

    <!-- #region Account Modal -->

    <div id="Modal-Account" uk-modal>
        <div class="uk-modal-dialog uk-modal-body">
            @Html.Action("Login", "Account", new { area = "" })
        </div>
    </div>
    <div id="Modal-Register" uk-modal>
        <div class="uk-modal-dialog uk-modal-body">
            @Html.Action("Register", "Account", new { area = "" })
        </div>
    </div>
    <script>
        //برای نشان دادن و مخفی کردن مودال
        // UIkit.modal(document.getElementById('Modal-Account')).show();
        //UIkit.modal(document.getElementById('Modal-Account')).hide();
    </script>

    <!-- #endregion -->
    <!-- #region Header -->

    <header role="navigation" class="top-nav row">
        <nav class="uk-flex-auto row flex-1">
            @if (User.Identity.IsAuthenticated)
            {
                <a href="/User/Account/UserData" class="uk-margin-auto-right lesser">
                    پروفایل
                </a>
                <div uk-drop id="navDrop">
                    <div class="drop-body uk-padding-small column">
                        <ul class="uk-margin-remove uk-padding-remove">
                            <li>
                                <a href="/User/Account/UserData">
                                    <span>پروفایل</span>
                                    <span uk-icon="icon:user"></span>
                                </a>
                            </li>
                            <li>
                                <a href="/User/Video/YourVideos">
                                    <span>آپلود</span>
                                    <span uk-icon="icon:cloud-upload"></span>
                                </a>
                            </li>
                            <li>
                                <a href="/LogOff">
                                    <span>خروج</span>
                                    <span uk-icon="icon:sign-out"></span>
                                </a>
                            </li>
                        </ul>
                        <hr class="uk-grid-margin-small" />
                        <a href="/User/Account/Wallet" class="success">
                            <span>130,000</span>
                            <span uk-icon="icon:money"></span>
                        </a>
                    </div>
                </div>

            }
            else
            {
                <a onclick="UIkit.modal(document.getElementById('Modal-Account')).show();" class="uk-margin-auto-right lesser">
                    ورود
                </a>
            }

            <div role="list" class="row-reverse uk-margin-auto-left">
                <a role="listitem" href="/Home/Index" class="lesser">
                    <span>خانه</span>
                    @*<span uk-icon="icon:home;ratio:1"></span>*@
                </a>
                <a role="listitem" href="/Home/About" class="lesser">درباره ما</a>
                <a role="listitem" href="/Home/Contact" class="lesser">تماس با ما</a>
                <a role="listitem" href="/Home/Rules" class="lesser">قوانین</a>
            </div>
        </nav>
        <a class="logo" href="/Home/Index">
            <img src="~/Resources/Static/Vector/Logo.svg" width="50" height="50" alt="Logo" />
        </a>
    </header>

    @RenderBody()

    <div id="Modal-Category" uk-modal>
        <div class="uk-modal-dialog uk-modal-body mat  uk-width-4-6-at-s uk-width-1-2-at-m uk-padding uk-margin-auto uk-box-shadow-large ">
            <div role="menu" class="column">
                <h4>
                    دسته بندی ها
                </h4>
                <div class="search-box row uk-margin-small-bottom">
                    <button uk-icon="search"></button>
                    <label for="CategorySearch" class="collapsed">جستجو دسته بندی</label>
                    <input dir="rtl" type="text" placeholder="جستجو..." name="CategorySearch" />
                </div>
                <details dir="rtl">
                    <summary>دسته بندی</summary>
                    <div class="uk-margin-right column">
                        <details dir="rtl">
                            <summary>دسته بندی</summary>
                            <div class="uk-margin-right column">
                                <details dir="rtl">
                                    <summary>دسته بندی</summary>
                                    <div class="column uk-margin-small-right">
                                        <a href="#">آیتم</a>
                                        <a href="#">آیتم</a>
                                    </div>
                                </details>
                                <a href="#">آیتم</a>
                                <a href="#">آیتم</a>
                                <a href="#">آیتم</a>
                            </div>
                        </details>
                        <a href="#">آیتم</a>
                        <a href="#">آیتم</a>
                    </div>
                </details>
            </div>
        </div>
    </div>

    <nav class="bottom-nav">
        <ul class="row uk-padding-remove uk-margin-remove">
            <li>
                <a href="/User/Account/UserData" class="column">
                    <span uk-icon="user" class="uk-margin-auto"></span>
                    <span>پروفایل</span>
                </a>
            </li>
            <li>
                <a href="/User/Chat/Index" class="column">
                    <span uk-icon="chat" class="uk-margin-auto"></span>
                    <span>گفت و گو</span>
                </a>
            </li>
            <li>
                <a href="#Modal-Category" uk-toggle class="column">
                    <span uk-icon="menu" class="uk-margin-auto"></span>
                    <span>دسته بندی ها</span>
                </a>
            </li>
            <li>
                <a href="/Home/Index" class="column">
                    <span uk-icon="home" class="uk-margin-auto"></span>
                    <span>خانه</span>
                </a>
            </li>
        </ul>
    </nav>

    <div role="none" class="space-bottom-nav uk-margin-xlarge-bottom"></div>


    <!-- #Loadin -->
    <div id="overlay">
        <div class="cv-spinner">
            <span class="spinner"></span>
        </div>
    </div>



    <div id="Modal-Show" uk-modal>
        <div class="uk-modal-dialog uk-modal-body" id="Modal-Body">

        </div>
    </div>
    <script src="https://www.google.com/recaptcha/api.js?render=6LfeB-IZAAAAANpiuFCp-HURWmy1NGqmj-p4owkF&&hl=fa"></script>

    <script>
        grecaptcha.ready(function () {
            grecaptcha.execute('6LfeB-IZAAAAANpiuFCp-HURWmy1NGqmj-p4owkF', { action: 'contact_us' }).then(function (token) {
                $('.GoogleCapcha').val(token);
            });
        });
        function reloadRech() {
            grecaptcha.execute('6LfeB-IZAAAAANpiuFCp-HURWmy1NGqmj-p4owkF', { action: 'contact_us' }).then(function (token) {
                //document.getElementById("GoogleCapcha").value = token;
                $('.GoogleCapcha').val(token);
            });
        }
    </script>







    <script>
        function forgetPassword() {
            $.get('/Account/ForgetPassword', function (result) {
                UIkit.modal(document.getElementById('Modal-Show')).show();
                $('#Modal-Body').html(result);
            });
        }

        function LoadingRun(form) {
            if (!$(form).valid()) return;
            $("#overlay").fadeIn(300);
        }
        function LoadingEnd(form) {
            $("#overlay").fadeOut(300);
            reloadRech();
            $(form)[0].reset();
        }
        function doneModal(form) {
            $("#overlay").fadeOut();
            UIkit.modal(document.getElementById(form)).hide();
            //location.reload();
            window.location.href = "/";
            $(form)[0].reset();
        }
    </script>
    <!--#endregion-->
    @RenderSection("Scripts", false)

</body>
</html>
