<!DOCTYPE html>
<html lang="fa">
<head>

    <title>@ViewBag.Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="@ViewBag.Content">

    <!--Project Styles-->
    <link href="~/Content/Styles/Controls.min.css" rel="stylesheet" />
    <link href="~/Content/Styles/Global.min.css" rel="stylesheet" />

    <!--PWA-->
    <link rel="apple-touch-icon" sizes="192x192" href="/resources/png/Mobile/icon_192.png">
    <meta name="msapplication-TileColor" content="#F94646">
    <meta name="apple-mobile-web-app-status-bar" content="#F94646" />
    <meta name="apple-mobile-web-app-status-bar-style" content="#F94646" />
    <meta name="theme-color" content="#F94646" />
    <link rel="manifest" href="~/manifest.json" />

    <!--UIKit-->
    <link href="~/Content/UIkit/uikit.min.css" rel="stylesheet" />
    <script src="~/Content/UIkit/uikit.min.js"></script>
    <script src="~/Content/UIkit/uikit-icons.min.js"></script>

    <script src="~/Scripts/jquery-3.5.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>

</head>
<body>

    <script>
        //برای نشان دادن و مخفی کردن مودال
        // UIkit.modal(document.getElementById('Modal-Account')).show();
        //UIkit.modal(document.getElementById('Modal-Account')).hide();
    </script>

    <!-- #endregion -->
    <!-- #region Header -->

    <div role="progressbar" aria-label="site load progress" id="loader">
        <span class="fill"></span>
    </div>

    <header role="navigation" class="top-nav row">
        <nav class="uk-flex-auto row flex-1">
            <div id="loggedInUser" class="column">
                @Html.Partial("_LoggedInUser")
            </div>

            <div role="list" class="row-reverse uk-margin-auto-left">
                <a role="listitem" href="/" class="lesser">
                    <span>خانه</span>
                    @*<span uk-icon="icon:home;ratio:1"></span>*@
                </a>
                <a role="listitem" href="/Home/About" class="lesser">درباره ما</a>
                <a role="listitem" href="/Home/Contact" class="lesser">تماس با ما</a>
                <a role="listitem" href="/Home/Rules" class="lesser">قوانین</a>
            </div>
        </nav>
        <a class="logo" href="/">
            <img src="~/Resources/Static/Vector/Logo.svg" width="50" height="50" alt="Logo" />
        </a>
    </header>

    @RenderBody()

    <div id="Modal-Category" uk-modal>
        <div class="uk-modal-dialog uk-modal-body mat  uk-width-4-6-at-s uk-width-1-2-at-m uk-padding uk-margin-auto uk-box-shadow-large ">
            <div role="menu" class="column">
                <!-- #region Category -->

                @Html.Action("Index", "Category", new { area = "" })

                <!-- #endregion -->
            </div>
        </div>
    </div>

    <nav class="bottom-nav">
        <ul class="row uk-padding-remove uk-margin-remove">
            <li>
                <a href="/User/Account/UserData" class="column">
                    <span uk-icon="user" class="uk-margin-auto"></span>
                    <span>پروفایل</span>
                </a>
            </li>
            <li>
                <a href="/User/Chat/Index" class="column">
                    <span uk-icon="chat" class="uk-margin-auto"></span>
                    <span>گفت و گو</span>
                </a>
            </li>
            <li>
                <a href="#Modal-Category" uk-toggle class="column">
                    <span uk-icon="menu" class="uk-margin-auto"></span>
                    <span>دسته بندی ها</span>
                </a>
            </li>
            <li>
                <a href="/Home/Index" class="column">
                    <span uk-icon="home" class="uk-margin-auto"></span>
                    <span>خانه</span>
                </a>
            </li>
        </ul>
    </nav>

    <div role="none" class="space-bottom-nav uk-margin-xlarge-bottom"></div>


    <!-- #Loadin -->
    <div id="overlay">
        <div class="cv-spinner">
            <span class="spinner"></span>
        </div>
    </div>

    <div id="Modal-Show" uk-modal>
        <div class="uk-modal-dialog uk-modal-body" id="Modal-Body">

        </div>
    </div>

    <!-- Uncomment for PWA -->
    @*<script src="~/app.js"></script>*@

    <script src="https://www.google.com/recaptcha/api.js?render=6LfeB-IZAAAAANpiuFCp-HURWmy1NGqmj-p4owkF&&hl=fa"></script>

    <script>
        grecaptcha.ready(function () {
            grecaptcha.execute('6LfeB-IZAAAAANpiuFCp-HURWmy1NGqmj-p4owkF', { action: 'contact_us' }).then(function (token) {
                $('.GoogleCapcha').val(token);
            });
        });
        function reloadRech() {
            grecaptcha.execute('6LfeB-IZAAAAANpiuFCp-HURWmy1NGqmj-p4owkF', { action: 'contact_us' }).then(function (token) {
                //document.getElementById("GoogleCapcha").value = token;
                $('.GoogleCapcha').val(token);
            });
        }
    </script>

    <script>

        window.addEventListener('load', function () {
            $("#loader").fadeOut(300);
        })

    </script>


    <script>
        function showLogin() {
            $.get('/Account/Login', function (result) {
                reloadRech();
                UIkit.modal(document.getElementById('Modal-Show')).show();
                $('#Modal-Body').html(result);
            });
        };
        function showRegister() {
            $.get('/Account/Register', function (result) {
                reloadRech();
                UIkit.modal(document.getElementById('Modal-Show')).show();
                $('#Modal-Body').html(result);
            });
        };
        function forgetPassword() {
            $.get('/Account/ForgetPassword', function (result) {
                UIkit.modal(document.getElementById('Modal-Show')).show();
                $('#Modal-Body').html(result);
            });
        };

        function LoadingRun(form) {
            if (!$(form).valid()) return;
            $("#overlay").fadeIn(300);
        }
        function LoadingEnd(form) {
            $("#overlay").fadeOut(300);
            reloadRech();
            $(form)[0].reset();
        }
        function doneModal(form) {
            $("#overlay").fadeOut();
            UIkit.modal(document.getElementById(form)).hide();
            window.location.href = "/";
        }
    </script>

    <script>


        // Tamam e Category haye server, yekbar load shavand.
        let categories = [];

        const lists = document.getElementsByClassName('listCategory');

        function catSearch(val) {
            for (var list of lists) {
                list.innerHTML = '';
                categories.filter(i => i.includes(val)).forEach(i =>
                    list.innerHTML += `<li><a href="javascript:selectByCategory('${i}')">${i.replace(val, `<b>${val}</b>`)}</a></li>`);
            }
        }

        if (localStorage.getItem('cats') === null || localStorage.getItem('cats') === undefined || localStorage.getItem('cats') === '') {
            fetch(window.location.origin + '/Category/ListCategory').then(i => {
                i.json().then((a) => {
                    categories = a.responseText;
                    localStorage.setItem('cats', JSON.stringify(categories));
                    for (var list of lists) {
                        categories.forEach(i =>
                            list.innerHTML += `<li><a href="javascript:selectByCategory('${i}')">${i}</a></li>`);
                    }
                });
            });
        }
        else {
            categories = JSON.parse(localStorage.getItem('cats'));
            for (var list of lists) {
                categories.forEach(i =>
                    list.innerHTML += `<li><a href="javascript:selectByCategory('${i}')">${i}</a></li>`);
            }
        }

        function selectByCategory(name) {
            console.table(window.location);
            if (window.location.pathname == '/Home/Index' || window.location.pathname == '/') {
                // در ایندکس است

                if (name === '') return false;

                $("#loader").fadeIn(100);

                $.ajax({
                    url: "/Video/SelectVideosByCategory/",
                    data: { name: name },
                    type: "Get",
                }).done(function (result) {
                    $('#listVideo').html(result);
                    $("#loader").fadeOut(300);
                });
                $("#loader").fadeOut(300);

                UIkit.modal(document.getElementById('Modal-Category')).hide();
                window.localStorage.setItem('searchcat', '');
                return false;

            }
            else {
                // از پیج دیگر می آید
                UIkit.modal(document.getElementById('Modal-Category')).hide();
                localStorage.setItem('searchcat', name);
                window.location = window.location.origin;

                return true;
            }
        }

    </script>



    <!--#endregion-->
    @RenderSection("Scripts", false)

</body>
</html>
