@model DataLayer.Models.TblDoc
@{
    ViewBag.Title = "مشاهده مدارک";
}

<div class="card border-0 shadow p-1">

    <div class="card-body flex-div">
        <div class="column mb-2">
            <strong>تلفن</strong>
            @Model.TellSabet
        </div>
        <div class="column mb-2">
            <strong>
                نام کاربری
            </strong>
            @ViewBag.UserName
        </div>
        <div class="column mb-2">
            <strong>
                شماره تلفن
            </strong>
            @ViewBag.Tell
        </div>
        <div class="column mb-2">
            <strong>
                آدرس
            </strong>
            <address>
                @Model.Address
            </address>
        </div>
        <div>
            @switch (Model.IsValid)
            {
                case 0:
                    <h4 class="blockquote alert alert-box-warning text-warning">منتظر نظر شما </h4>
                    break;
                case 1:
                    <h4 class="blockquote alert alert-success text-success">تائید شده</h4>
                    break;
                case 2:
                    <h4 class="blockquote alert alert-danger text-danger">رد شده</h4>
                    break;
                default:
                    break;
            }
        </div>

        <div class="grid-auto-250px">
            @if (Model.ShenasnameSahebEmtiazUrl != null)
            {
                <a class="column" href="~/Resources/Doc/@Model.ShenasnameSahebEmtiazUrl">
                    <label>شناسنامه</label>
                    <img class="image" src="~/Resources/Doc/@Model.ShenasnameSahebEmtiazUrl" alt="@Model.TellSabet" />
                </a>
            }
            @if (Model.KarteMeliSahebEmtiazUrl != null)
            {
                <a class="column" href="~/Resources/Doc/@Model.KarteMeliSahebEmtiazUrl">
                    <label>کارت ملی</label>
                    <img class="image" src="~/Resources/Doc/@Model.KarteMeliSahebEmtiazUrl" alt="@Model.TellSabet" />
                </a>
            }
            @if (Model.MojavezTasisUrl != null)
            {
                <a class="column" href="~/Resources/Doc/@Model.MojavezTasisUrl">
                    <label>مجوز تاسیس</label>
                    <img class="image" src="~/Resources/Doc/@Model.MojavezTasisUrl" alt="@Model.TellSabet" />
                </a>
            }
            @if (Model.ParvaneAmuzeshgahUrl != null)
            {
                <a class="column" href="~/Resources/Doc/@Model.ParvaneAmuzeshgahUrl">
                    <label>پروانه آموزش</label>
                    <img class="image" src="~/Resources/Doc/@Model.ParvaneAmuzeshgahUrl" alt="@Model.TellSabet" />
                </a>
            }

        </div>

        <form class="column mt-3" action="/Admin/Doc/DocDone/@Model.DocId">
            <label for="errorMessage">ذیل دلیل در صورت رد مدرک</label>
            <input type="hidden" id="isValid" name="isValid" value="" />
            @*<input type="hidden" id="id" name="isValid" value="@Model.DocId" />*@
            <input type="text" class="form-control form-control-sm" id="errorMessage" name="errorMessage" value="" placeholder="پیام شما" />
            <div class="row ml-auto mt-3 mr-0">
                <input type="submit" name="" class="btn btn-primary btn-sm btnSubmit1" value="تایید" />
                <input type="submit" class="btn btn-danger btn-sm mr-3 btnSubmit2" value="رد مدرک" />
            </div>
        </form>
    </div>

</div>


@section Scripts{

    <script>
        $('.btnSubmit1').click(function () {
            $('#isValid').val("1");
        });
        $('.btnSubmit2').click(function () {
            $('#isValid').val("2");

        });
        //$('#docDone').submit(function (e) {
        //    e.preventDefault();
        //    var errorMessage = $('#errorMessage').val();
        //    var isValid = $('#isValid').val();
        //    var id = $('#id').val();

        //    $("#overlay").fadeIn(300);
        //    $.ajax({
        //        url: "/Admin/Doc/DocDone",
        //        data: { id: id, isValid: isValid, errorMessage: errorMessage },
        //        type: "Get",
        //    }).done(function (result) {
        //        UIkit.modal(document.getElementById('Modal-Request')).hide();
        //        $("#overlay").fadeOut(300);
        //        UIkit.notification(result);
        //        listTransaction();
        //    });


        //});
    </script>
}
