@model DataLayer.ViewModels.VmLogin

@*@using (Ajax.BeginForm("Login", "Account", new AjaxOptions()
    {
        HttpMethod = "POST",
        OnSuccess = "LoadingEnd('#createCatagory')",
        UpdateTargetId = "loginForm"
    },
        htmlAttributes: new { @id = "loginForm" }))*@

@using (Ajax.BeginForm("Login", "Account", new AjaxOptions() { HttpMethod = "POST", OnFailure = "doneModal()", OnSuccess = "LoadingEnd('#loginForm')", UpdateTargetId = "loginForm" }, htmlAttributes: new { @id = "loginForm" }))
{
    @Html.AntiForgeryToken()
    <div class="form column" role="form">
        <div class="row-reverse">
            <h3>
                ورود
            </h3>
            <button class="uk-modal-close uk-margin-auto-right" type="button" uk-icon="close"></button>
        </div>

        <div class="form-group">
            <label for="Email">ایمیل</label>
            <div class="input-group">
                @Html.EditorFor(m => m.Email)
            </div>
            <span role="alert" class="alert">
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "uk-text-danger" })
            </span>
        </div>
        <div class="form-group">
            <label for="Password">رمز عبور</label>
            <div class="input-group">
                @Html.EditorFor(m => m.Password)
            </div>
            <span role="alert" class="alert">
                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "uk-text-danger" })
            </span>
        </div>
        <div class="uk-margin-top column uk-margin-auto-left uk-margin-bottom">
            <label dir="rtl" class="uk-margin-auto-left">
                @Html.EditorFor(model => model.RememberMe, new { htmlAttributes = new { @class = "uk-checkbox uk-margin-auto-left"} })
            مرا بخاطر بسپار
            </label>
        </div>
        <a href="#" class="uk-margin-top">رمز عبور خود را فراموش کرده اید؟</a>

        <div class="column center uk-margin-large-top">
            <button class="btn-primary uk-margin-bottom" onclick="LoadingRun('#loginForm')">
                ورود
            </button>

            <button onclick="UIkit.modal(document.getElementById('Modal-Register')).show();" class="btn-secondary">
                ثبت نام
            </button>
        </div>
    </div>
}